html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: black;
}

#game-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black; /* optional background */
    overflow: hidden;
}

#game-canvas {
    image-rendering: pixelated;
    display: block;
}
